<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://download1325.mediafire.com/3952lx3nb3lghPh83eRzd7YElA47DX7BVrB2P3DVkrEUEDRgItwkcWr8rhzvF0uyX5hhWyxl8o0u3hhuQg3Ct6TrW2Zy311bN8IS_mcj8o0znxmjT3K9eeF0keFGdY_ytMO3gPCF7P4nAOKLkQXb3T7ADygIvSVFM4Naivwz4M31Lw/7fzd6joulgn7qaj/kok3shi9_v5.0.3.ipa</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.kok3shi.jb</string>
        <key>bundle-version</key>
        <string>5.0.3</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>kok3shi9</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
